{% extends 'layout.njk' %}
{% block content%}
    <h2>Agregar Nuevo Cliente</h2>
<form method="post">
    <input type="text" name="nombre" id="">
    <input type="email" name="apellido" id="">
    <input type="text" name="telefono" id="">
    <input type="email" name="email" id="">
    <button type="submit"> Guardar Cliente</button>
</form>
<a href="/clientes">Volver</a>
{% endblock %}