{% extends 'layout.njk' %}
{% block content%}
    <h2>Editar Cliente {{c.nombre}}</h2>
<form method="post">
    <input type="text" name="nombre">
    <input type="text" name="apellido">
    <input type="text" name="telefono">
    <input type="email" name="email">
    <button type="submit" onclick='return confirm("confirmar Cambios")'> Guardar Cambios</button>
</form>
<a href="/clientes">Volver</a>
{% endblock %}